*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Bruno Ace SC', cursive;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}