$font-size-base: 1rem !default;

// 16 20 24 64 128
$font-size: (
    1: $font-size-base,
    2: $font-size-base * 1.25,
    3: $font-size-base * 1.5,
    4: $font-size-base * 4,
    5: $font-size-base * 8,
);

@each $key, $value in $font-size {
    .fz-#{$key} {
        font-size: $value;
    }
}

// space 4 12 16 20 24 32 36 40 72 96 110 160 
$space-base: 4px;

$space: (
    1: $space-base,
    2: $space-base * 3,
    3: $space-base * 4,
    4: $space-base * 5,
    5: $space-base * 6,
    6: $space-base * 8,
    7: $space-base * 9,
    8: $space-base * 10,
    9: $space-base * 18,
    10: $space-base * 24,
    11: $space-base * 27.5,
    12: $space-base * 40,
);

@each $key, $value in $space {
    // margin
    .mt-#{$key} {
        margin-top: $value;
    }

    .mb-#{$key} {
        margin-bottom: $value;
    }

    .ml-#{$key} {
        margin-left: $value;
    }

    .mr-#{$key} {
        margin-right: $value;
    }

    .mx-#{$key} {
        margin-right: $value;
        margin-left: $value;
    }

    .my-#{$key} {
        margin-top: $value;
        margin-bottom: $value;
    }

    // padding
    .pt-#{$key} {
        padding-top: $value;
    }

    .pb-#{$key} {
        padding-bottom: $value;
    }

    .pl-#{$key} {
        padding-left: $value;
    }

    .pr-#{$key} {
        padding-right: $value;
    }

    .px-#{$key} {
        padding-left: $value;
        padding-right: $value;
    }

    .py-#{$key} {
        padding-top: $value;
        padding-bottom: $value;
    }
}