$primary: #00FFA3;
$secondary: #15161D;
$gray: #D1D1D1;
$white: #fff;
$black: #000;

nav {
    background: $black;
    color: $gray;

    .nav-link-hover {
        transition: color .3s;
        &:hover  {
            color: $primary;
        }
    }
}

.banner {
    background: $black;
}

.banner-text {
    h2 {
        color: $white;
    }

    h1 {
        color: $primary;
    }

    a {
        background: $white;
        border-radius: 32px;
        &:hover .arrow img {
            animation-name: arrow;
        }
    }
}

.introduction {
    background-image: url(../img/background-img.png);

    .introduction-text {
        max-width: 526px;
        color: $white;
    }
}

.about-text {
    max-width: 526px;

    p {
        color: $secondary;
    }
}

.about-item {
    max-width: 306px;
    border: 1px solid #e3e3e3;
    color: $secondary;
}

.contact {
    background-image: linear-gradient(180deg, #050014, #01021E);

    .contact-text {
        color: $white;
    }

    .contact-img a {
        border-radius: 40px;
        transition: box-shadow .3s;
        &:hover {
            box-shadow: 0 4px 4px rgba(0, 0, 0, .25),
            0 0 16px 3px rgb(144, 148, 255, .9);
        }
    }
}

.project {
    h2 {
        max-width: 746px;
        margin-left: auto;
    }

    .project-text {
        a {
            color: $white;
        }

        p {
            color: $secondary;
        }

        .link {
            background: $black;
            border-radius: 32px;
            &:hover .arrow img {
                animation-name: arrow;
            }
        }
    }
}

.footer {
    text-align: center;
    color: $white;
    background: $black;
}

.arrow {
    display: inline-block;
    overflow: hidden;
}

.arrow img {
    animation: .5s ease;
}

@keyframes arrow {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translate(30px, -30px);
    }
    51% {
        transform: translate(-30px, 30px);
    }
    100% {
        transform: translateX(0px);
    }
}